<div class="layui-card-header">
	版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
	<script type="text/html" template>
		<p>当前版本：version1.0</p>
		<p>基于框架：ThinkPhp5.0</p>
	</script>
	<!--<div class="layui-btn-container">-->
		<!--<a href="http://www.baidu.com" target="_blank" class="layui-btn layui-btn-danger">百度一下</a>-->
	<!--</div>-->
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
	<blockquote class="layui-elem-quote" style="border: none;">
		XYCMS完全开源，仅供开发者使用，如有任何商业活动，请事前联系开发者经过同意，否则作者有权追究法律责任~
	</blockquote>
	<p>© 2018<a href="http://wpa.qq.com/msgrd?v=3&uin=627286509&site=qq&menu=yes">QQ:627286509</a> 版权所有</p>
</div>